<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>Is this real?</summary>
          <p>Of course not. Technology like this won't exist for at least another few years.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Can I pay with monopoly money?</summary>
          <p>If that's how you wish to pay you can collect all the monopoly money you can find and stuff it into an addressed envelope... then get out your credit card because you'll be using it for payment.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Why is the person who wrote this FAQ so mean?</summary>
          <p>Because he hates you.</p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>How long will I have to wait for my order to ship?</summary>
          <p>You can expect your order to ship somewhere from 6 months from now to infinity?</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>What happens if I change my mind?</summary>
          <p>We'll happily refund your payment in the form of monopoly money.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>Is my satisfaction guaranteed?</summary>
          <p>As long as the Brainwasher works it is.</p>
        </details>
      </li>
    </ul>
  </div>
</div>
