<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        Brainwashing is a dirty word. Let's clean it up.
      </h3>
      <p>
        Brainwashing has received a bad reputation in recent times. As opposed to traditional methods of brainwashing through propaganda that exists in our lives to this day, our brainwashing machine introduces only ideas and emotions that are of your choosing. Given the choice of happiness or a bleak alternative, wouldn't you choose happiness? Now this choice is yours.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy">
      <h3>
        You'll feel differently.
      </h3>
      <p>
        Have you ever wanted to feel a certain way? To think differently? To become a new person? The brainwasher allows you to do this without the effort involved in cultivating different thought patterns and feelings. Imagine it as taking a leap of faith, but with a guarantee. After a single brainwashing session, you'll emerge with a new outlook.      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        100% of brainwashing clinical subjects reported positive feelings after initial tests.
      </h3>
      <p>
        Prior to clinical trials, many subjects had that exact same question. After trial, 100% of subjects who underwent brainwashing exhibited a significantly improved outlook on brainwashing. The magical effect of brainwashing is that you wash yourself into a more willful state. 
      <p>
    </div>
  </div>
</div>
