<div class="big_wrapper">
  <div class="wrapper center" id="middle_reserve">
    <h2><%= I18n.t :ships, scope: [:calls_to_action] %></h2>
    <a href="/preorder/checkout" class="blue_button reserve"><%= I18n.t :reserve, scope: [:calls_to_action] %></a>
  </div>
</div>
