/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require reset
 *= require main
 *= require jquery.ui.all
 */
@import "bourbon";
@import "grid-settings";
@import "neat";
@import "mixins";

div.container {

	@include outer-container;
	
	div.big_wrapper, .gray_background, .logos, .footer, .header {
		@include span-columns(12);
		div.wrapper  {
			@include span-columns(8);
			@include shift(2);
		}
		div.point_copy, div.one_image, div.two_image {
			@include span-columns(6);
		}
	}
	
	@include media($tablet) {
		div.big_wrapper, .gray_background, .logos, .footer, .header {
			@include span-columns(8);
			div.wrapper  {
				@include span-columns(6);
				@include shift(1);
			}
			div.point_copy, div.one_image, div.two_image {
				@include span-columns(8);
			}
		}
	}

	@include media($mobile) {
		div.big_wrapper, .gray_background, .logos, .footer, .header {
			@include span-columns(4);
			div.wrapper  {
				@include span-columns(4);
			}
			div.point_copy, div.one_image, div.two_image {
				@include span-columns(4);
			}
		}
	}
}

.hidden
{
  display: none;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
